.landingpage {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("../images/landingback.jpg");
    background-size: cover;
    
}
.button1 button{
    /* display:;
    justify-content: space-around;
background-color: rgb(85, 81, 92);
padding: 10px;
color: antiquewhite;
font-family: sans-serif;
border: none;
border: none;
     */
}
.heading{
    /* background-color: rgb(101, 163, 163); */
    width: 300px;
    text-align: center;
    margin-top: -250px;
    margin-left:70px;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    font-size: larger;
   
}
.formdiv {
    background-color: rgba(255, 255, 255,0.33);
    
   
}
.formdiv form button{
    margin-left: 20px;
    background-color: rgb(155, 139, 46);
    padding: 10px;
    font-family: sans-serif;
    border: 1px solid rgb(89, 156, 86);
    color: rgb(226, 225, 223);
    height: 50px;
    width: 200px;
    
}
.formdiv form button:hover  {
    background-color: rgb(212, 102, 38);
    color: antiquewhite;
    border-radius: 30px;

}
.button1 a{
    text-decoration: none;
    color: rgb(187, 28, 28);
    font-size: 20px;
   
}
.button1 a:hover{
    text-decoration: none;
    color: rgb(214, 218, 213);
    
   
}
*{
    transition: 0.5s;
}